@import 'variables.scss';


.home-page {
	@import 'someSectionWillBeHere/main.scss';

	

	p {
		color: $baseFontColor;
		font-size: 30px;

		span {
			text-transform: uppercase;
			font-size: 50px;
			color: red;
		}
	}
}

@import 'mediaQueries.scss';
